In [1]:
import pandas as pd
from utilities import CohortDateMapper

import question_3af as q3
import question_3gh as q3_end
import question_4 as q4



customer_df = pd.read_excel('data/customer_data.xlsx')

cdm = CohortDateMapper(customer_df)

customer_df

,cohort,user,time_year,time_month,subscription,content,genres,recency_new,bounce
0,0,0,2017,8,1,2.0,2.0,1.0000,0.5000
1,0,0,2017,9,1,1.0,1.0,1.0000,0.0000
2,0,1,2017,8,1,1.0,1.0,0.0000,1.0000
3,0,1,2017,9,1,1.0,1.0,0.0000,0.5000
4,0,2,2017,8,1,12.0,4.0,0.2500,0.0000
...,...,...,...,...,...,...,...,...,...
31672,11,20170,2018,7,1,2.0,2.0,0.5000,1.0000
31673,11,20171,2018,7,1,3.0,2.0,0.3333,0.6667
31674,11,20172,2018,7,1,1.0,1.0,1.0000,1.0000
31675,11,20173,2018,7,1,4.0,3.0,0.2500,0.0000
31676,11,20174,2018,7,1,3.0,2.0,0.0000,0.6667

In [7]:
retention_rates = q3.calculate_retention_rates_of_cohort_i(customer_df, 0, cdm)
retention_rates

{0: None,
 1: 0.5245623941276115,
 2: 0.07857911733046287,
 3: 0.273972602739726,
 4: 0.35,
 5: 0.5714285714285714,
 6: 0.75,
 7: 0.6666666666666666,
 8: 0.5,
 9: 0.0,
 10: None,
 11: None}

In [9]:
average_retention_rate = q3.calculate_avg_retention_rate(retention_rates)

In [11]:
average_price = 20
clv_averageRR_cohort0 = 0
for month in range(12):
    clv_averageRR_cohort0 += average_price * average_retention_rate / (1 + 0.15)**month
clv_averageRR_cohort0

51.46565457622909

In [26]:
average_price = 20
retention_rates_list = list(retention_rates.values())
clv_dynamic_cohort0 = 0
retention_rates_list[0] = 1
retention_rates_list[10] = 0
retention_rates_list[11] = 0
print(retention_rates_list)
current_retention_multiplier = 1.15
for month in range(12):
    current_retention_multiplier *= retention_rates_list[month] / (1 + 0.15)
    clv_dynamic_cohort0 += average_price * current_retention_multiplier
clv_dynamic_cohort0

[1, 0.5245623941276115, 0.07857911733046287, 0.273972602739726, 0.35, 0.5714285714285714, 0.75, 0.6666666666666666, 0.5, 0.0, 0, 0]

29.989177161147353

In [30]:
#7a
clv_dynamic_cohort0_10000 = 10000 * clv_dynamic_cohort0
clv_dynamic_cohort0_10000

299891.7716114735

In [2]:
#7f
import math
average_price = 20
clv_dynamic_cohort0 = average_price
current_retention_multiplier = 1
for month in range(1,24):
    current_retention_multiplier *= 0.9*(1-math.exp(-0.3*month))
    print(current_retention_multiplier)
    clv_dynamic_cohort0 += average_price * current_retention_multiplier / (1 + 0.15)**month
clv_dynamic_cohort0

0.2332636013864539
0.09472124040153239
0.05058941212914648
0.031816956610625946
0.022245870587995202
0.016711787621050474
0.013198789619328813
0.010801280195249183
0.009067837159333582
0.007754738517659865
0.006721847278884156
0.005884363250552553
0.005188727241647931
0.004599827355325764
0.004093855100243045
0.0036541473374814342
0.003268682034526581
0.00292852689078778
0.002626855326872936
0.002358309603162296
0.0021185811251750665
0.0019041291676146835
0.0017119891925860815

27.26516157419325